[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = git@github.com:altercation/solarized.git
[submodule "submodules/tmux-colors-solarized"]
	path = submodules/tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "submodules/tmux-powerline"]
	path = submodules/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
